@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*------------
  UTILITIES 
------------*/

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

body {
  color: #232D39;
}

.title {
  font-size: 30px;
  font-weight: 700;
}

.dark-title {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.h3 {
  font-size: 20px;
  font-weight: 500;
}

.mark {
  color: orangered;
}

a {
  text-decoration: none;
  display: inline-block;
}

.cta {
  background-color: orangered;
  border: 3px solid orangered;
  padding: 10px 30px;
  margin-top: 13px;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.cta:hover {
  background-color: #ea725d;
  border: 3px solid #ea725d;
}

.details {
  color: #8E9FA7;
  font-size: 14px;
  line-height: 30px;
}

.dark-details {
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
}


/*--------------
  HERO SECTION
--------------*/

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-bg {
  position: relative;
}

.background {
  display: block;
  width: 100%;
  height: 780px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33,42,52, 0.7);
  z-index: 2;
}

.hero-title {
  position: absolute;
  color: white;
  z-index: 3;
  text-align: center;
}

.main-caption {
  font-size: 80px;
  font-weight: 700;
}

/*-------------------
  PROGRAMS SECTION
-------------------*/

.program-section {
  width: 70%;
  padding: 150px 0;
  margin: auto;
}

.header {
  text-align: center;
}

.header img {
  padding: 15px;
}

.programs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.program {
  width: 90%;
  display: flex;
}

.program img {
  padding-right: 30px;
}

/*-----------------
  BANNER SECTION
-----------------*/

.banner {
  background-image: url(images/cta-bg.jpg);
  padding: 100px;
  text-align: center;
}

.banner-title {
  font-size: 35px;
  font-weight: 700;
  color: white;
}


/*-----------------
  CLASSES SECTION
-----------------*/

.classes-section {
  width: 70%;
  padding: 150px 0;
  margin: auto;
}

.classes-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 50px;
}

.class-tab {
  display: flex;
  width: 80%;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 5px 5px 10px lightgray;
}

.class-tab:hover .class-title {
  color: orangered;
}

.class-tab img {
  padding-right: 20px;
}

.class-btn {
  padding: 10px 73px;
}

.class-banner img {
  border-radius: 5px;
}

.class-banner-title {
  font-size: 22px;
  margin: 20px 0;
}

.class-banner-btn {
  margin-top: 20px;
}

/*-------------------
  SCHEDULE SECTION
--------------------*/

.schedule-section {
  background-image: url(images/schedule-bg.jpg);
  padding: 150px 0;
  text-align: center;
}

table {
  color: white;
  margin: 30px auto 0;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 30px;
}

/*-----------------
  TRAINER SECTION
------------------*/

.trainer-section {
  width: 70%;
  padding: 150px 0;
  margin: auto;
}

.trainers {  
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

.trainer {
  width: 27%;
  padding: 2%;
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 10px;
} 

.trainer img {
  width: 100%;
  margin: auto;
}

.label {
  font-weight: 500;
  color: orangered;
  padding: 10px 0;
}

.trainer-name {
  padding-bottom: 10px;
}

.socials {
  padding-top: 10px;
}

.socials a {
  color: #232D39;
}

.fab {
  padding-left: 5px;
}

.fab:hover {
  color: orangered;
}

/*-----------------
  CONTACT SECTION
------------------*/

.contact-section {
  width: 100%;
  display: flex;
}

.map {
  width: 100%;
}

.contact-form {
  background-image: url(images/contact-bg.jpg);
  width: 100%;
  display: flex;
  align-items: center;
}

.form {
  background-color: white;
  margin: 60px auto;
  padding: 20px;
  border-radius: 5px;
}

input,textarea {
  padding: 10px;
}

.name {
  width: 280px;
  margin-right: 20px;
}
.email {
  width: 280px;
}

.subject {
  width: 96%;
  margin: 30px 0;
}

textarea {
  width: 96%;
}

footer {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}